@inherits LayoutComponentBase
@inject IJSRuntime js


<PageTitle>IMS</PageTitle>


<!-- <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
</div>-->
<div class=" d-flex justify-content-center">
<div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
</div>
</div>

    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->


    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

        <TopBar/>

    <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper" data-layout="stroke-svg">
                <div class="logo-wrapper">
                    <a href="index.html"><p>IIS</p></a>
                    <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                </div>
                
                <SideMenu />
            </div>
            <!-- Page Sidebar Ends-->




    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">

            </div>
        </div>

         @Body
   </div>            

   
       <Footer />
    </div>
 </div>
 
   
